.plus {
    margin-top: 15%;
    margin-left: 40%;
    width: 35vh;
    height: 35vh;
    background-image: url(../../../assets/plus.png);
}

@media only screen and (min-width: 765px) {
    plus {
      margin-right: 150%
    }
  }

  .input-cor {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .input-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    background: rgb(238, 206, 238);
  }