<div class="container">
  <div class="ui-g-12" *ngIf="hasDashboards">
    <div class="card" style="height: 85vh">
      <div class="card-body">
        <h5 class="card-title">Dashboard</h5>
        <p class="card-text">
          Você não possui nenhum Dashboard ainda. Que tal criar um?
        </p>
        <div
          class="plus"
          style="cursor: pointer;"
          (click)="open(content)"
        ></div>
      </div>
    </div>
  </div>

  <p-tabMenu
    [model]="tabMenuDashboard"
    [activeItem]="dashboardInicial"
    *ngIf="!hasDashboards">
    <ng-template pTemplate="item" let-item let-i="index">
      <div style="position: relative; text-align: center; min-width: 2em">
        <a (click)="switchDashboard($event, i, content, item)">
          <div [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 25px;">
            {{ item.label }}
          </div>
        </a>

        <a tabindex="0"
          class="ui-menuitem-icon"
          (click)="closeItem($event, item)"
          style="position: absolute; right: -1em; top: -.5em; padding: 0"
          *ngIf="i !== ultimoRegistro">
          <span class="pi pi-times"></span>
        </a>

        <a tabindex="0"
        class="ui-menuitem-icon"
        (click)="adicionarItem($event, item)"
        style="position: absolute; left: -1em; top: -.5em; padding: 0"
        *ngIf="i !== ultimoRegistro">
        <span class="pi pi-plus-circle"></span>
      </a>
      </div>
    </ng-template>
  </p-tabMenu>

  <div style="height: 80vh;">
    <gridster
      [options]="options"
      *ngIf="!hasDashboards"
      style="border-radius: 5px;"
      [style.background-color] = "corFundoDash"
    >
      <gridster-item [item]="item" *ngFor="let item of widgets" style="cursor: pointer;">
       <app-widget [widget]="item" (excluir)="excluirWidget(item)"></app-widget>
      </gridster-item>
    </gridster>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Dashboard</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <mat-form-field class="ui-g-12 ui-md-12 ui-sm-12">
            <textarea
              matInput
              placeholder="Dê um nome ao seu Dashboard"
              name="nomeDashboard"
              [(ngModel)]="nameDashboard"
            ></textarea>
          </mat-form-field>

          <div class="ui-g-6 ui-md-6 ui-sm-12">
            <input
              [(colorPicker)]="corDoDashboard"
              class="input-cor"
              [style.background]="corDoDashboard"
              [cpColorMode]="corDoDashboard"
            />
            <label style="margin-left: 3px; color: gray;"
              >Cor do Dashboard</label
            >
          </div>

          <div class="ui-g-6 ui-md-6 ui-sm-12">
            <button
              class="input-icon {{ icon }}"
              (click)="openIcon(iconModal)"
            ></button>
            <label style="margin-left: 3px; color: gray;"
              >Ícone do Dashboard</label
            >
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="criarDashboard()"
      >
        <i class="fa fa-plus-circle"></i> Criar
      </button>
    </div>
  </ng-template>

  <ng-template #iconModal let-modalIcon>
    <div class="modal-header">
      <h4 class="modal-title" id="modalIcon-basic-title">Icon Picker</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modalIcon.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div *ngFor="let icon of icons">
            <div class="ui-g-1 ui-md-2 ui-sm-3">
              <button
                class="icon-picker-list"
                (click)="atualizarIcon(icon.icon)"
              >
                <i [class]="icon.icon" style="margin-left: 6px;"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ng-template>

  <p-toast position="center" key="c" (onClose)="onReject()"
   [modal]="true" [baseZIndex]="5000" [style]="{'background-color': 'yellow', 'border-radius': '8px'}">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="fa fa-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" (click)="onConfirm()" class="btn-block btn btn-success">Sim</button>
            </div>
            <div class="ui-g-6">
                <button type="button" (click)="onReject()" style="color:white;" class="btn-block btn btn-warning">Não</button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-dialog header="Criação de Widget" [(visible)]="telaDeCriacao" [style]="{ width: '500px', backgroundColor: '#F2F2F2'}" [modal]="true">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Título do Widget" [(ngModel)]="widget.titulo">
  </mat-form-field>

  <br>
  <p style="text-align: center"><b>Tipo de Métrica</b></p><br>
  <mat-button-toggle-group #group="matButtonToggleGroup" style="width: 100%;">
    <mat-button-toggle class="botoes-tipo-grafico" value="left" aria-label="Text align left"
      (click)="direcionarDadosDeViews(1)">
      <i class="fa fa-sort-numeric-asc icone-grande" aria-hidden="true"></i>
      <div class="flex-config"><b>Numérico</b></div>
    </mat-button-toggle>
    <mat-button-toggle class="botoes-tipo-grafico " value="center" aria-label="Text align center"
      (click)="direcionarDadosDeViews(2)">
      <i class="fa fa-bar-chart icone-grande" aria-hidden="true"></i>
      <div class="flex-config"><b>Barra</b></div>
    </mat-button-toggle>
    <mat-button-toggle class="botoes-tipo-grafico" value="right" aria-label="Text align right"
      (click)="direcionarDadosDeViews(3)">
      <i class="fa fa-pie-chart icone-grande" aria-hidden="true"></i>
      <div class="flex-config"><b>Pizza</b></div>
    </mat-button-toggle>
    <mat-button-toggle class="botoes-tipo-grafico" value="justify" aria-label="Text align justify"
      (click)="direcionarDadosDeViews(4)">
      <i class="fa fa-line-chart icone-grande" aria-hidden="true"></i>
      <div class="flex-config"><b>Linhas</b></div>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <br><br>
  <div class="flex-config">
    <span>
      <b>
        Serviço
      </b>
    </span>
    <span>
       {{viewSelecionada.nome}}
    </span>
  </div>

  <div>
    <br>
    <b>Cor do Widget</b>
    <div [(colorPicker)]="widget.cor" style="height: 30px; width: 30px; box-shadow: 1px 1px 3px black; float:right"
      [style.background]="widget.cor" [cpPosition]="'top'">
    </div>
    <br>
  </div>
  <div *ngFor="let cor of listaDeCores">
      <br>
      <b>Cor Adicional</b>
      <div [(colorPicker)]="cor.cor" style="height: 30px; width: 30px; box-shadow: 1px 1px 3px black; float:right"
        [style.background]="cor.cor" [cpPosition]="'top'">
      </div>
      <br>
    </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button mat-raised-button color="primary" class="btn-block" (click)="adicionarWidget()">Criar</button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog header="Selecione seu serviço" [(visible)]="telaDeServicos" [style]="{ width: '500px', backgroundColor: '#F2F2F2'}"
  (onHide)="fecharTelaServicos()">
   <app-barra-dashboard-view [dados]="viewsSelecao" (getView)="obterView($event)"></app-barra-dashboard-view> 
</p-dialog>
</div>
